
*.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.FileListAbsolute.txt
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/v16/.suo
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/DoAn_CuaHangLaptop.csproj.nuget.dgspec.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/project.assets.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/project.nuget.cache
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/config/applicationhost.config
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/About.cshtml.g.cs
*.dll
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/appsettings.Development.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.deps.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.exe
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.runtimeconfig.dev.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.runtimeconfig.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/libman.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/DoAn_CuaHangLaptop.csproj
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/apphost.exe
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.CopyComplete
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/staticwebassets/DoAn_CuaHangLaptop.StaticWebAssets.xml
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Shop.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Product.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Contact.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Checkout.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Cart.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.RazorTargetAssemblyInfo.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
*.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/DoAn_CuaHangLaptop.csproj
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/DesignTimeBuild/.dtbcache.v2
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/DesignTimeBuild/.dtbcache.v2
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/v16/.suo
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/DoAn_CuaHangLaptop.csproj
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.assets.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/DoAn_CuaHangLaptop.csproj.nuget.g.props
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/DoAn_CuaHangLaptop.csproj.user
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/ScaffoldingReadMe.txt
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/DoAn_CuaHangLaptop.csproj.nuget.g.props
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/User.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Release/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Release/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/DoAn_CuaHangLaptop.assets.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/PubTmp/Out/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/PubTmp/Out/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Release/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Release/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/DoAn_CuaHangLaptop.assets.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/PubTmp/DoAn_CuaHangLaptop.Parameters.xml
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/PubTmp/DoAn_CuaHangLaptop.Parameters.xml
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/PubTmp/Out/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/PubTmp/Out/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/PublishProfiles/CuaHangLaptop - Web Deploy.pubxml
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/PublishProfiles/CuaHangLaptop - Web Deploy.pubxml.user
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/PublishProfiles/DoAnCuaHangLaptop20211105130422 - Web Deploy.pubxml
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/PublishProfiles/DoAnCuaHangLaptop20211105130422 - Web Deploy.pubxml.user
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/ServiceDependencies/CuaHangLaptop - Web Deploy/profile.arm.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/ServiceDependencies/DoAnCuaHangLaptop20211105130422 - Web Deploy/profile.arm.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/ServiceDependencies/DoAnCuaHangLaptop20211105130422 - Web Deploy/profile.arm.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Signin.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Signup.cshtml.g.cs
*.v2
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/delete.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/User/AddRole.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/User/index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/User/SetPassword.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/HoaDon/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/HoaDon/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/Shared/_Layout.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Cthd/CTHD.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Hoadon/HDChoXN.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Hoadon/HDDaGiao.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Hoadon/HDDangGiao.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Hoadon/HDXN.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Home/Shop.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sanpham/Cart.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sanpham/Checkout.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sanpham/ProductSingle.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sanpham/Shop.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Admin/_Layout.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Test.csproj.FileListAbsolute.txt
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Test.pdb
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Test.Views.pdb
DoAn_CuaHangLaptop/.vs/Test/v16/.suo
DoAn_CuaHangLaptop/Test/bin/Debug/netcoreapp3.1/Test.Views.pdb
DoAn_CuaHangLaptop/Test/bin/Debug/netcoreapp3.1/Test.pdb
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/apphost.exe
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/_StatusMessage.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/_ViewImports.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/_ViewStart.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/User/_StatusMessage.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/User/_ViewImports.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/User/_ViewStart.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/_ViewImports.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/_ViewStart.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/BoNhoRam/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/BoNhoRam/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/BoXuLy/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/BoXuLy/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/CongKetNoi/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/CongKetNoi/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/DanhMucSanPham/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/Home/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/DanhMucSanPham/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/SanPham/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/ManHinh/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/ManHinh/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/SanPham/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/_StatusMessage.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/_ViewImports.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/AccessDenied.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ConfirmEmailChange.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Test.csproj.CopyComplete
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Test.AssemblyInfo.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Test.GeneratedMSBuildEditorConfig.editorconfig
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Taikhoan/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Taikhoan/Create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Taikhoan/Delete.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sukien/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Taikhoan/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sukien/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sukien/Delete.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sukien/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sukien/Create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Admin/_TopBar.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Taikhoan/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/staticwebassets/Test.StaticWebAssets.xml
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout1.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_PagingXTL.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sanpham/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sanpham/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sanpham/Create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Nhanvien/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Nhanvien/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/SanPham/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ConfirmEmail.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ForgotPassword.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ForgotPasswordConfirmation.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sanpham/Delete.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Nhanvien/Create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Nhanvien/Delete.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sanpham/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Nhanvien/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Manhinh/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Manhinh/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Manhinh/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Test.MvcApplicationPartsAssemblyInfo.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Khachhang/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Test.RazorAssemblyInfo.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Manhinh/Create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Khachhang/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Khachhang/Delete.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Khachhang/Create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Khachhang/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Home1/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Home1/Privacy.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Home/User.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Home/Product.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Home/Signin.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Manhinh/Delete.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Home/Contact.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Home/Checkout.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Test.RazorTargetAssemblyInfo.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Home/Cart.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Hoadon/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Hoadon/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Hoadon/Delete.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Hoadon/Create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Cthd/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Cthd/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Cthd/Delete.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Cthd/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Cthd/Create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Hoadon/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Congketnois/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Home/About.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Congketnois/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Boxuly/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Boxuly/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Boxuly/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Congketnois/Create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Boxuly/Delete.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Boxuly/Create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Bonhoram/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Bonhoram/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Bonhoram/Delete.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Bonhoram/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Bonhoram/Create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Congketnois/Delete.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Congketnois/Edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ResetPasswordConfirmation.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Register.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/RegisterConfirmation.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/TwoFactorAuthentication.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/ShowRecoveryCodes.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/SetPassword.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/ResetAuthenticator.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/PersonalData.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/GenerateRecoveryCodes.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/ExternalLogins.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/EnableAuthenticator.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ResetPassword.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/DownloadPersonalData.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/Disable2fa.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/DeletePersonalData.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/Email.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ViewImports.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_StatusMessage.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_Layout.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Logout.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Error.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/LoginWith2fa.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Login.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Lockout.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ExternalLogin.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewImports.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/LoginWithRecoveryCode.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml.g.cs
